<!-- footer -->
<footer class="overflow-hidden border-t border-[#e5e5e5]">
    <div class="py-[90px]">
        <img src="assets/images/logo1.jpg" class="h-[142px] mx-auto" alt="">
    </div>

    <hr class="border-[#e5e5e5]">
    <div class="container">
        <div class="py-[87px]">
            <div class="md:block hidden">
                <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 md:gap-0 gap-8">
                    <!-- 1 -->
                    <div class="max-w-[280px] mx-auto text-center">
                        <h5 class="text-2xl/10 font-medium">About Company</h5>
                        <p class="text-base/6 font-normal mt-5">It is a long established fact that a reader will be The
                            point of using Lorem</p>
                    </div>

                    <!-- 2 -->
                    <div class="max-w-[280px] mx-auto text-center">
                        <h5 class="text-2xl/10 font-medium">Contact Info</h5>
                        <p class="text-base/6 font-normal mt-5">7 Rue Gaudin, Parko 21630 France</p>
                        <a href="tel:+1-202-555-0152" class="text-base/6 font-normal">+00 12 34 567 89</a>
                        <p class="mt-4">
                            <a href="mailto:info@example.com" class="text-base/6 font-normal">info@example.com</a>
                        </p>
                    </div>

                    <!-- 3 -->
                    <div class="text-center">
                        <h5 class="text-2xl/10 font-medium">Get App</h5>
                        <p class="text-base/6 font-normal mt-5">It is a long established fact that a reader</p>
                        <div class="flex items-center justify-center gap-2 mt-4">
                            <img src="assets/images/play.jpg" alt="">
                            <img src="assets/images/app.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!-- faq start -->
            <div class="md:hidden block">
                <div class="hs-accordion-group">
                    <!-- 1 -->
                    <div class="hs-accordion overflow-hidden" id="faq-1">
                        <button
                            class="hs-accordion-toggle capitalize py-1 inline-flex items-center justify-between gap-x-3 w-full text-left transition-all"
                            aria-controls="faq-accordion-1">
                            <span class="md:text-2xl/10 text-xl font-medium">About Company</span>
                            <i
                                class="ri-arrow-down-s-line text-xl transition-all duration-500 hs-accordion-active:-rotate-180"></i>
                        </button>
                        <div id="faq-accordion-1"
                            class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
                            aria-labelledby="faq-1" style="height: 0px;">
                            <div class="pb-4 pt-0">
                                <p class="mt-2">
                                    <a href="mailto:info@example.com"
                                        class="text-base/6 font-normal">info@example.com</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- 2 -->
                    <div class="hs-accordion overflow-hidden" id="faqs-2">
                        <button
                            class="hs-accordion-toggle capitalize py-1 inline-flex items-center justify-between gap-x-3 w-full text-left transition-all"
                            aria-controls="faqs-accordion-2">
                            <span class="md:text-2xl/10 text-xl font-medium">Contact Info</span>
                            <i
                                class="ri-arrow-down-s-line text-xl transition-all duration-500 hs-accordion-active:-rotate-180"></i>
                        </button>
                        <div id="faqs-accordion-2"
                            class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                            aria-labelledby="faqs-2" style="height: 0px;">
                            <div class="pb-4 pt-0">
                                <p class="text-base/6 font-normal mt-2">7 Rue Gaudin, Parko 21630 France</p>
                                <a href="tel:+1-202-555-0152" class="text-base/6 font-normal">+00 12 34 567 89</a>
                                <p class="mt-4">
                                    <a href="mailto:info@example.com"
                                        class="text-base/6 font-normal">info@example.com</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="hs-accordion overflow-hidden" id="faqs-3">
                        <button
                            class="hs-accordion-toggle capitalize py-1 inline-flex items-center justify-between gap-x-3 w-full text-left transition-all"
                            aria-controls="faqs-accordion-3">
                            <span class="md:text-2xl/10 text-xl font-medium">Get App</span>
                            <i
                                class="ri-arrow-down-s-line text-xl transition-all duration-500 hs-accordion-active:-rotate-180"></i>
                        </button>
                        <div id="faqs-accordion-3"
                            class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                            aria-labelledby="faqs-3" style="height: 0px;">
                            <div class="pb-4 pt-0">
                                <p class="text-base/6 font-normal mt-2">It is a long established fact that a reader</p>
                                <div class="flex items-center justify-start gap-2 mt-4">
                                    <img src="assets/images/play.jpg" alt="">
                                    <img src="assets/images/app.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="border-[#e5e5e5]">
    <div class="py-6 px-4">
        <div class="md:flex items-center justify-center gap-5">
            <p class="text-base/5 font-normal text-center md:mt-0 mt-5"> ©
                <script>document.write(new Date().getFullYear())</script> - All Rights Reserved
            </p>
        </div>
    </div>
</footer>